@model IEnumerable<wcciPortfolio.Models.Project>

@{
    ViewBag.Title = "Portfolio";
}

<div class="jumbotron">
    <h2>Hello, I'm Kyle McMahon</h2>
    <p class="lead">Have a look at some of the things I've made:</p>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <!--<div class="col-md-4">
            <h2>@item.Name</h2>
            <a href="@item.ScreenshotPath" target="_blank"><img src="@item.ScreenshotPath" height="100" alt="@item.Name screenshot" /></a>            
            <p>
                @item.Description
            </p>
            <p><a class="btn btn-default" href="@item.GitHubUrl" target="_blank">GitHub &raquo;</a></p>
        </div>-->

        <div class="media">
            <div class="media-left">
                <a href="@item.ScreenshotPath">
                    <img class="media-object" src="@item.ScreenshotPath" alt="@item.Name screenshot" height="64">
                </a>
            </div>
            <div class="media-body">
                <a href="@item.GitHubUrl" target="_blank"><h4 class="media-heading">@item.Name</h4></a>
                <p>@item.Description</p>
            </div>
        </div>
    }
</div>